<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
</head>
<body>
<div th:replace="~{layout :: content}">
    <div class="main-body" th:fragment="main-content">
        <h1 class="mt-5">User Menu</h1>
        <button class="btn btn-outline-primary mb-3" onclick="window.location.href='/demoApp/create-user'">Create User</button>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.address}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td>
                    <button class="btn btn-outline-success" th:onclick="'window.location.href=\'/demoApp/edit-user/'+${user.id}+'\''">Edit</button>
                    <button class="btn btn-outline-danger" th:onclick="'window.location.href=\'/demoApp/delete-user/'+${user.id}+'\''">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/js/layout.js}"></script>
</body>
</html>
